<div class="home-page">
  <div class="header">
    <app-top-bar (routeRequested)="searchRoute($event)" [fromCoordinates]="fromCoordinatesSelected"
      [destinationCoordinates]="destinationCoordinatesSelected"></app-top-bar>
  </div>
  <div class="body">
    <app-mapbox-map [airportCodes]="airportCodes" [originPoint]="origin" [destinationPoint]="destination"
      [routsToDraw]="routsToDraw"></app-mapbox-map>
  </div>
  <div class="flights-container" *ngIf="showFlights" [ngClass]="flightsHidden ? 'flights-hidden': ''">
    <div class="background-overlay"></div>
    <div class="flights-wrapper">
      <app-flight-booking [flights]="flights" [hidden]="flightsHidden" (close)="closeFlights()" (hide)="hideFlights()"
        (flightSelected)="drawFlightRoute($event)"></app-flight-booking>
    </div>
  </div>
</div>
