<div class="container">
  <ng-container *ngIf="!hidden">
    <div class="toggle-container">
      <mat-button-toggle-group [(ngModel)]="isRoundTrip">
        <mat-button-toggle [value]="true">Round-Trip</mat-button-toggle>
        <mat-button-toggle [value]="false">One-Way-Trip</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="search-box-container">
      <div class="search-box search-geocoder">
        <label>From</label>
        <app-mapbox-search class="my-search-box" [geocoderName]="originGeocoder" [placeHolder]="fromSearch"
          (result)="changeFormSearch($event)"
          (clearSecondBox)="setSecondSearchBoxWhenItcolumn($event)"></app-mapbox-search>
      </div>
      <div class="search-box search-geocoder" [ngClass]="{'remove': removeSecondSearchBox === true}">
        <label>Destination</label>
        <div class="my-search-box">
          <app-mapbox-search #secondGeocoder [geocoderName]="destinationGeocoder" [placeHolder]="destinationSearch"
            (result)="changeDestinationSearch($event)"></app-mapbox-search>
        </div>
      </div>
      <div class="search-box">
        <label>Dates</label>
        <div class="date-input">
          <app-date-picker [placeHolder]="isRoundTrip?  'Choose Dates range' : 'When will you leave?'"
            [showRangePicker]="isRoundTrip" (dateRangeSelected)="updateDate($event)"></app-date-picker>
        </div>
      </div>
      <div class="search-box">
        <label>Travelers</label>
        <input type="number" class="custom-input" value="1" min="1" [(ngModel)]="numOfPassengers"
          (ngModelChange)="updateDisableSearch()" />
      </div>
    </div>
    <div class="buttons-container">
      <button class="route-button" (click)="route()" [disabled]="disableSearch">Serach Route</button>
    </div>

  </ng-container>

  <button mat-icon-button class="button-hide" [ngClass]="hidden ? 'hidden' : ''" (click)="onHide()">
    <mat-icon>{{hide_icon}}</mat-icon>
  </button>
</div>
